
body, h1, h2, p, input, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Arial', sans-serif;
  }
  
 
  .profile-container {
    max-width: 800px;
    max-height: 60%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #0f0e0e;
    border-radius: 8px;
    background-color: #324d60;
    box-shadow: 0 0 10px rgba(28, 27, 27, 0.1);
  }
  
 
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .profile-name,
  .profile-bio {
    margin: 5px 0;
    color: white;
  }
  

  .profile-name,
  .profile-bio,
  .about-me-input,
  .contact-input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
  }
  
 
  .profile-details h2 {
    color: white;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .profile-details p {
    margin-bottom: 15px;
  }
  

  .edit-button-container {
    text-align: center;
    margin-left: 30px;
  }
  
  .edit-button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover {
    background-color: #45a049;
  }
  .home-button{
    color: white;
  }
  